<center>
        <img src = "http://www.dars.state.tx.us/ecis/images/ecilogo.gif"/>
        <p style="font-family:Tw Cen MT;font-size: 20px;">
		<Strong>Please choose the start date and the end date</Strong>
  	</p>
	<form action="/query/list">
		<input name="start_date" type="date" data-date-format="mm/dd/yyyy">
		<input name="end_date" type="date" data-date-format="mm/dd/yyyy">
		<input type="submit">
	</form>
</center>
