<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>Please choose one action to continue: </p>
	<a class="btn btn-primary btn-lg" href="/employees">Manage Employees</a>
	<a class="btn btn-primary btn-lg" href="/query/index">Retrieve Data</a>
</div>
